body
  margin: 0

.background
  background-image: url('#{$image-path}/fond.jpg')
  //background-image: image-url('fond.jpg')

#chat-device
  &.notify-off
    background-color: #9b9465

  &.notify-on
    background-color: #fff8a8

#phone-device
  +x-transform(skewX(-30deg))

  &.notify-off
    background-color: #3c8835

  &.notify-on
    background-color: #44ff7f

#notes
  +x-transform(skewX(30deg))


