ul
  list-style-type: none

.settings-screen
  background: url('#{$image-path}/app/screen-settings.png') no-repeat
  margin: 0 auto
  width: 541px
  height: 323px
  padding: 50px

  #settings-panel
    padding: 20px

    section[title="locale"]
      padding: 10px
      height: 150px

  .close
    background: url('#{$image-path}/app/close-button.png') no-repeat
    position: absolute
    top: -2px
    right: -2px
    width: 32px
    height: 32px
    margin: 0
    padding: 0
    cursor: pointer
