.terminal-screen
  background-color: black
  font: 14px/20px "Inconsolata", "Courier New"
  padding: 40px 40px
  color: white
  width: 500px
  height: 500px

  .output
    background-color: black
    text-align: left
    max-height: 400px
    overflow: auto
    ul
      list-style-type: none

  .prompt
    background-color: black
    text-align: left
    form
      input
        &[type="text"]
          resize: none
          outline: none
          border: none
          background-color: black

        &[type="submit"]
          //display: none
          border: none
          background-color: black


