*, *:before, *:after
  box-sizing: border-box

.terminal-screen
  background-color: black
  font: 14px/20px Verdana
  padding: 40px 0
  color: white

  .output
    ul
      list-style-type: none

  .prompt
    form
      input
        &[type="text"]
          border: none
          background-color: black
          resize: none

        &[type="submit"]
          border: none
          background-color: black


